<div class="row" >
    <div class="">
        <h1>{{game.name}}</h1>
        <a href="#/admin/games/{{game.id}}/details" class="btn btn-info"><i class="fa fa-eye"></i> Score Details</a>
        <a href="#/admin/games/{{game.id}}/levels/0" class="btn btn-info"><i class="fa fa-fort-awesome"></i> ControlCenter</a>
        <a class="btn btn-info" data-toggle="modal" data-target="#confirm-recalculate"><i class="fa fa-calculator"></i> Recalculate Game</a>
        <a ng-href="/api/admin/games/{{game.id}}/teams.txt" class="btn btn-info"><i class="fa fa-print"></i> Default logins</a>
        <a ng-href="/#/admin/scoreEngineEdit/{{game.scoreEngine.scoreEngineTemplate.id}}" class="btn btn-info"><i class="fa fa-tachometer"></i> Edit scoreEngine</a>


        <div class="row">
            <div height="400">
                <canvas class="col-xs-10 col-xs-offset-1" id="teamEvolutionGraph"></canvas>
                <br>
            </div>
        </div>

        <div class="row">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
                </div>
            </form>
        </div>

        <table class="table table-responsive">
            <tr>
                <th>Rank</th>
                <th></th>
                <th>Team Name</th>
                <th>Score</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr ng-repeat="team in game.teams  | filter: searchText | orderBy:'-score' track by $index">
                <td><strong>#{{$index+1}}</strong></td>
                <td><img width="80px" class="img-circle" ng-src={{team.teamImage}}></td>
                <td>{{team.teamname}} <span class="badge">{{team.numberOfAnswers}}</span></td>
                <td>{{team.score}}</td>
                <td><a href="#/admin/games/{{game.id}}/teams/{{team.id}}" class="btn btn-default"><i class="fa fa-info-circle"></i> Details</a></td>
                <td><a href="#/admin/teams/{{team.id}}/answers" class="btn btn-info"><i class="fa fa-eye"></i> View Answers</a></td>
                <td ng-show="MainUser.admin"><a href="#/editTeam/{{team.teamname}}" class="btn btn-info"><i class="fa fa-edit"></i> Edit</a></td>
                <td ng-show="MainUser.admin"><button class="btn btn-danger" ng-click="deleteTeam(team.id)"><i class="fa fa-remove"></i> Delete</button></td>
            </tr>
        </table>
    </div>
</div>

<div class="modal fade" id="confirm-recalculate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Confirm Recalculate</h4>
            </div>

            <div class="modal-body">
                <p>You are about to recalculate the scores of every level.</p>
                <p>This means that even overwritten scores will be reset and recalculated by the scoreengine.</p>
                <p>Do you want to proceed?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button ng-click="recalculate(game.id)" data-dismiss="modal" class="btn btn-danger btn-ok">Recalculate</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#confirm-recalculate').on('show.bs.modal', function(e) {});
</script>
