<!--

1. per level tabel van team scores expand and contractable

-->

<h1>GameScore Details</h1>

<div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-target="#level1" aria-expanded="false" aria-controls="level1">
        <h2>Level 1</h2>
        <table class="table">
            <tr>
                <td>Team1: 300</td>
                <td>Team1: 300</td>
                <td>Team1: 300</td>
                <td>Team1: 300</td>
            </tr>
        </table>
    </div>
    <div class="panel-body" class="collapse panel-collapse" id="level1" aria-expanded="false">
        <table class="table">
            <tr>
                <th>Team</th>
                <th>Scope</th>
                <th>Time</th>
                <th>What ever</th>
                <th>I know</th>
                <th>Know</th>
                <th>Total</th>
            </tr>
            <tr>
                <th>TeamAwesome</th>
                <th>0</th>
                <th>5</th>
                <th>-2</th>
                <th>8</th>
                <th>0</th>
                <th>11</th>
            </tr>
            <tr>
                <th>TeamAwesome</th>
                <th>0</th>
                <th>5</th>
                <th>-2</th>
                <th>8</th>
                <th>0</th>
                <th>11</th>
            </tr>
            <tr>
                <th>TeamAwesome</th>
                <th>0</th>
                <th>5</th>
                <th>-2</th>
                <th>8</th>
                <th>0</th>
                <th>11</th>
            </tr>
            <tr>
                <th>TeamAwesome</th>
                <th>0</th>
                <th>5</th>
                <th>-2</th>
                <th>8</th>
                <th>0</th>
                <th>11</th>
            </tr>
        </table>
    </div>

</div>