<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>Game</h1>
        <form ng-submit="submit()" name="form" class="css-form" novalidate>
            <div class="form-group">
                <label for="name">Gamename</label>
                <input type="text" class="form-control" placeholder="Name" id="name" name="name" ng-model="game.name" gamename>
            </div>

            <div class="alert alert-danger" ng-show="form.name.$error.validgamenamelength || form.name.$error.validgamename">
                <ul class="list-unstyled">
                    <li ng-show="form.name.$error.validgamenamelength">The length of the gamename need to be min 4 characters</li>
                    <li ng-show="form.name.$error.validgamename">The gamename can only contain numbers, letters and spaces</li>
                </ul>
            </div>
            <div class="form-group">
                <label for="amount">Number of teams</label>
                <input type="number" class="form-control" placeholder="4" id="amount" name="amount" ng-model="game.amount" min="1" max="20" integer>
            </div>
            <div ng-show="form.amount.$error.validint" class="alert alert-danger">Enter a valid integer</div>

            <div class="form-group">
                <label for="levels">Number of levels</label>
                <input type="number" class="form-control" placeholder="3" id="levels" name="levels" ng-model="game.levels" integer>
            </div>
            <div ng-show="form.levels.$error.validint" class="alert alert-danger">Enter a valid integer</div>

            <h2>The {{knowledgeareas.length}} Knowledge Areas</h2>
            <ul class="list-group">
                <li class="list-group-item text-center" ng-repeat="knowledgearea in knowledgeareas | orderBy:'elementNumber'">
                    {{knowledgearea.name}}
                </li>
            </ul>
            <div class="list-group">
                <a href="#/admin/knowledgeareas/edit" ng-disabled="freeze" class="list-group-item text-center">Edit Knowledge Areas</a>
            </div>
            <button ng-disabled="freeze" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>