<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>Game</h1>
        <form ng-submit="submit()" name="form" class="css-form" novalidate>
            <div class="form-group">
                <label for="name">Gamename</label>
                <input type="text" class="form-control" placeholder="Name" id="name" name="name" min="4" ng-model="game.name"  min-length-validator min="4" regex-validator regex="^[A-Za-z0-9\s]*$" required>
            </div>

            <div class="alert alert-danger" ng-show="form.name.$error.namelength || form.name.$error.namevalidregex || form.name.$error.required && form.name.$touched">
                <ul class="">
                    <li ng-show="form.name.$error.namelength">The length of the gamename need to be min 4 characters </br></li>
                    <li ng-show="form.name.$error.namevalidregex">The gamename can only contain numbers, letters and spaces</li>
                    <li ng-show="form.name.$error.required">Field required</li>
                </ul>
            </div>
            <div class="form-group">
                <label for="amount">Number of teams</label>
                <input type="number" class="form-control" placeholder="4" id="amount" name="amount" ng-model="game.amount" min="1" max="20" required>
            </div>

            <div class="alert alert-danger" ng-show="form.amount.$error.min || form.amount.$error.max || form.amount.$error.required && form.amount.$touched">
                <ul class="">
                    <li ng-show="form.amount.$error.min || form.amount.$error.max"> The value must be in range 1 to 20</li>
                    <li ng-show="form.amount.$error.required">Field required</li>
                </ul>
            </div>

            <div class="form-group">
                <label for="dropdown">Score Engine</label>
                <div id="dropdown" class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{selectedItem.name}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li ng-model="game.scoreengine" ng-repeat="scoreengine in scoreengines"><a ng-click="dropboxitemselected(scoreengine)"><strong>name:</strong> {{scoreengine.name}} <strong>levels:</strong> {{scoreengine.levels}}</a></li>
                    </ul>
                </div>
            </div>

            <button ng-disabled="form.$invalid" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>