<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>Game</h1>
        <form ng-submit="submit()" name="form" class="css-form" novalidate>
            <div class="form-group">
                <label for="name">ScoreEngine name</label>
                <input type="text" class="form-control" placeholder="Name" id="name" name="name" min="4" ng-model="scoreenginetemplate.name"  min-length-validator min="4" regex-validator regex="^[A-Za-z0-9\s]*$" required>
            </div>

            <div class="alert alert-danger" ng-show="form.name.$error.namelength || form.name.$error.namevalidregex || form.name.$error.required && form.name.$touched">
                <ul class="">
                    <li ng-show="form.name.$error.namelength">The length of the gamename need to be min 4 characters </br></li>
                    <li ng-show="form.name.$error.namevalidregex">The gamename can only contain numbers, letters and spaces</li>
                    <li ng-show="form.name.$error.required">Field required</li>
                </ul>
            </div>

            <div class="form-group">
                <label for="levels">Number of levels</label>
                <input type="number" class="form-control" placeholder="3" id="levels" name="levels" ng-model="scoreenginetemplate.levels" min="1" max="20" required>
            </div>

            <div class="alert alert-danger" ng-show="form.levels.$error.min || form.levels.$error.max || form.levels.$error.required && form.levels.$touched">
                <ul class="">
                    <li ng-show="form.levels.$error.min || form.levels.$error.max"> The value must be in range 1 to 20</li>
                    <li ng-show="form.levels.$error.required">Field required</li>
                </ul>
            </div>


            <h2>The {{knowledgeareas.length}} Knowledge Areas</h2>
            <ul class="list-group">
                <li class="list-group-item text-center" ng-repeat="knowledgearea in knowledgeareas | orderBy:'elementNumber'">
                    {{knowledgearea.name}}
                </li>
            </ul>
            <div class="list-group">
                <a href="#/admin/knowledgeareas/edit" ng-disabled="freeze" class="list-group-item text-center">Edit Knowledge Areas</a>
            </div>

            <button ng-disabled="form.$invalid" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>