<h4></h4>

<form ng-submit="submitAnswer()">
    <fieldset class="form-group">
        <legend>{{my_levelkn.knowledgeArea.name}}</legend>

        <div class="row">
            <div class="col-md-2">
                <label>Question:</label>
            </div>
            <div class="col-md-10">
                <p>{{my_levelkn.question.question}}</p>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="col-md-2 control-label" for="answer">Answer:</label>
                <div class="col-md-10">
                    <div class="input-group">
                        <input type="text" class="form-control" id="answer" placeholder="Answer" aria-describedby="basic-addon20" ng-model="answer">
                        <span class="input-group-addon" id="basic-addon2">{{my_levelkn.question.format}}</span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="row text-center">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>
