<h1>{{team.teamname}} <small><a href="#/dashboard/{{gameid}}" class="btn btn-default">Back to game</a></small>  </h1>
<div class="text-center">
    <h2>Score</h2>
    <h1>{{team.score}}</h1>
</div>
<div class="row">
    <div>
        <canvas id="knowledgeAreaRader" class="col-xs-8 col-xs-offset-2" ></canvas>
        <br>
    </div>
</div>
<table class="table table-responsive">
    <tr>
        <th>Level</th>
        <th>LevelTotal</th>
        <th ng-repeat="kas in team.teamLevelPrestations[0].knowledgeAreaScores">
            {{kas.knowledgeArea.name}}
        </th>
    </tr>
    <tr>
        <th>KnowledgeAreaTotal</th>
        <td class="info">{{team.score}}</td>
        <td ng-repeat="kat in knowledgeareaTotals track by $index" ng-class="{'danger' : knowledgeareaTotals[$index] < 0, 'success' : knowledgeareaTotals[$index] > 0}">{{knowledgeareaTotals[$index]}}</td>
    </tr>
    <tr ng-repeat="level in team.teamLevelPrestations">
        <th>{{level.level.name}}</th>
        <td ng-class="{ 'danger' : level.levelScore < 0, 'success' : level.levelScore > 0}">{{level.levelScore}}</td>
        <td ng-repeat="kas in level.knowledgeAreaScores">{{kas.score}}</td>
    </tr>

</table>
