<div class="row">
    <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="">Level 1</a></li>
            <li role="presentation"><a href="">Level 2</a></li>
            <li role="presentation"><a href="">Level 3</a></li>
            <li role="presentation" class="active"><a href="">Level 4</a></li>
            <li role="presentation" disabled="true"><a href="">Level 5</a></li>
            <li role="presentation" disabled="true"><a href="">Level 6</a></li>
        </ul>
    </div>
    <div class="col-sm-9">

    </div>
</div>