<div class="row">
    <div class="col-xs-12 page-header">
        <h1>{{game.name}}</h1><a href="#/dashboard/{{game.id}}" class="btn btn-default">Dashboard</a>
    </div>
    <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" ng-repeat="level in levels | orderBy: 'round'">
                <a href="#/admin/games/{{game.id}}/levels/{{level.id}}" >
                    {{level.round}}. {{level.name}}
                    <span ng-class="{'label': true, 'label-default': level.closed, 'label-primary': level.concluded, 'label-success': level.open, 'label-info': level.cermonie, 'label-danger': level.finished}">{{level.state}}</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-9">
        <div ng-show="currentLevel">
            <h2>{{currentLevel.name}} <small ng-class="{'label': true, 'label-default': currentLevel.closed, 'label-primary': currentLevel.concluded, 'label-success': currentLevel.open, 'label-info': currentLevel.cermonie, 'label-danger': currentLevel.finished}">{{currentLevel.state}}</small> </h2>

            <div class="btn-group btn-group-justified" role="group" aria-label="buttons">
                <div class="btn-group" role="group"><button ng-click="change('open')" type="button" class="btn btn-default">Open</button></div>
                <div class="btn-group" role="group"><button ng-click="change('close')"type="button" class="btn btn-default">Close</button></div>
                <div class="btn-group" role="group"><button ng-click="change('push')" type="button" class="btn btn-default">Start Cermonie</button></div>
                <div class="btn-group" role="group"><button ng-click="change('conclude')" type="button" class="btn btn-default">Conclude</button></div>
            </div>
            <div>
                <div class="alert alert-danger alert-dismissible" role="alert" ng-repeat="error in errors">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Error!</strong> {{error}}
                </div>
            </div>
        </div>
        <div ng-show="!currentLevel">
            <h1>Select a level in the list</h1>
        </div>
    </div>
</div>