<div class="row">
    <div class="col-sm-6 col-lg-3">
        <img ng-src="{{stakeholder.imagePath}}" class="img-responsive" />
    </div>
    <div class="col-sm-6 col-lg-9">
        <h1>#{{stakeholder.id}} {{stakeholder.name}}</h1>
        <h2>{{stakeholder.function}} <small>{{stakeholder.organisation}}</small></h2>
        <p>{{stakeholder.description}}</p>
        <h3 ng-show="stakeholder.links.length != 0" >Links</h3>
        <div class="list-group">
            <a class="list-group-item" ng-repeat="link in stakeholder.links" ng-href="{{link}}"><i class="fa fa-link"></i> {{link}}</a>
        </div>
    </div>
</div>