<div class="row" >
    <h1>ADMIN OVERVIEW</h1>
    <a class="btn btn-default" href="#/admin/createGame">New</a>
    <div class="row">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
            </div>
        </form>
    </div>
    <table class="table table-responsive">
        <tr>
            <th>#</th>
            <th>Game Name</th>
            <th></th>
        </tr>
        <tr ng-repeat="game in games | filter: searchText">
            <td><strong>#{{$index+1}}</strong></td>
            <td><h4>{{game.name}}</h4></td>
            <td>
                <a ng-click="getGame(game.id)" class="btn btn-primary"><i class="fa fa-trophy"></i> Dashboard</a>
                <a href="#/admin/games/{{game.id}}/levels/0" class="btn btn-info"><i class="fa fa-fort-awesome"></i>  GameControlCenter</a>
                <a ng-click="mail(game.id)" class="btn btn-default" role="button"><i class="fa fa-envelope"></i> Mail</a>
                <button class="btn btn-danger" ng-click="deleteGame(game.id)"><i class="fa fa-remove"></i> Delete</button>
            </td>
        </tr>
    </table>
</div>