<div class="row" >
    <h1>ADMIN OVERVIEW</h1>

    <div class="row">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
            </div>
        </form>
    </div>
    <table class="table table-responsive">
        <tr>
            <th>#</th>
            <th colspan="4">Game Name</th>
        </tr>
        <tr ng-repeat="game in games | filter: searchText">
            <td><strong>#{{$index+1}}</strong></td>
            <td><a ng-click="getGame(game.id)" role="button">{{game.name}}</a></td>
            <td><a href="#/games/{{game.id}}/levels/0" class="btn btn-info">GameControlCenter</a></td>
            <td><a ng-click="getLevels(game.id)" class="btn btn-default" role="button">Edit Levels</a></td>
            <td><button class="btn btn-danger" ng-click="deleteGame(game.id)">delete</button></td>
        </tr>
    </table>
</div>