<link rel="stylesheet" type="text/css" href="../css/edit-table.css">
<h1>GameScore Details</h1>
<div class="row">
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
        </div>
    </form>
</div>

<div ng-repeat="level in game.levels | orderBy: 'round'">
        <my-level gameid="game.id" level="level"></my-level>
</div>


<form ng-submit="addLevel()" name="form" class="css-form" novalidate>
    <div class="form-group">
        <input type="number" class="form-control" placeholder="Round" id="round" name="round" ng-model="level.round">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Name" id="name" name="name" ng-model="level.name">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>

</form>